* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-decoration: none;

  width: 100%;
  margin: 0;
  padding: 5px;
}

/*
 *
 * Media
 *
*/

@media only screen and (max-width: 865px) {
  .row .col-4 {
    width: 50%;
  }
}

@media only screen and (max-width: 585px) {
  .row .col-4 {
    width: 100%;
  }
}

/*
 *
 * Body
 *
*/

body,
a {
  color: #2d3c49;
}

h1 {
  font-weight: 300;
  font-size: 3em;
}

h2 {
  font-weight: 400;
  font-size: 1.8em;
  color: #7d97ad;
  margin-top: 0.8em;
}

h3 {
  font-size: 2em;
  font-weight: 400;
}

hr {
  border: none;
  background-color: #7d97ad;
  padding: 2px;
}

.all-caps {
  text-transform: uppercase;
}

/*
 *
 * Images
 *
*/

.col-2 img {
  float: left;
  width: 80px;
}

picture,
source {
  padding: 0px;
}

#valid-css {
  border:0;
  padding:0;
  width:88px;
  height:31px;
}

/*
 *
 * Grid
 *
*/

.grid {
  margin: 0 auto;
  max-width: 1200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-10 {
  text-align: right;
}

.col-4 {
  text-align: center;
}

/*
 *
 * Columns
 *
*/

.col-1 { width: 8.33%;}
.col-2 { width: 16.66%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33%;}

.col-5 { width: 41.66%;}
.col-6 { width: 50%;}
.col-7 { width: 58.33%;}
.col-8 { width: 66.66%;}

.col-9 { width: 75%;}
.col-10 { width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 { width: 100%;}
